body {
    background-color: rgb(33, 39, 49);
	font-family: glacial-indifference;
    margin: 0;
    background-image: url(images/BoquinhaLogin.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
	align-items: center;
	height: 110vh;
	width: 100%; 
}


/* main */


.section-1 {
    display: flex;
    padding-left: 53%;
	align-items: center;
	height: 100vh;
    width: 100%;
}

.card-login {
	background-color: white;
	border-radius: 40px;
    border: none;
    box-shadow: 9px 7px rgba(0, 0, 0, 0.295);
	padding: 24px 44px 30px 44px;
    width: 380px;
    height: 550px;
    margin-bottom: 148px;
    margin-top: 100px;
    align-items: center;
}

.card-login-titulo {
    color: rgb(250, 122, 83);
    font-size: 27pt;
    text-align: center;
    margin-top: 25px;
}

.card-login-texto {
    text-align: center;
    color: rgb(43, 43, 43);
    font-size: 15pt;
}

.card-cadastre {
    color: rgb(250, 122, 83);
    text-decoration: none;
}

.card-cadastre:hover {
    color: rgb(250, 122, 83);
    text-decoration: none;
}

.btn-cadastrar {
    background-color: rgb(250, 122, 83);
    border-radius: 13px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    width: 160px;
    margin:auto;
    display:block;
}

.btn-cadastrar:hover {
    background-color: rgb(235, 87, 42);
}

.recuperar-senha {
    color: rgb(250, 122, 83);
}

.recuperar-senha:hover {
    color: rgb(250, 122, 83);
}


/* CSS Responsivo */

@media (max-width: 991px) {
    .card-login{
        margin-top: 292px;
    }
}

  @media screen and (max-width: 876px) {
	body {
		background-size: cover;
        background-position: 50%;
        height: 120vh;
    }
    .section-1 {
        display: flex;
        padding: 20px;
        padding-top: 0;
        align-items: center;
        height: 114vh;
        width: 100%;
    }

    .card-login {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 40px;
        border: none;
        box-shadow: -9px 7px rgba(0, 0, 0, 0.295);
        padding: 24px 44px 30px 44px;
        width: auto;
        height: auto;
        /* margin-bottom: 148px; */
        margin: auto;
        margin-top: 96px;
        align-items: center;
        z-index: 1000;
    }

    .card-login-titulo {
        font-size: 18pt;
    }

    .card-login-texto {
        font-size: 11pt;
    }
    
}
