.bloco1{
width: 30%;
padding: 20px;
align-items: center;
text-align: center;
background-color: #548B54;
border-radius: 10px;
box-shadow: -5px 10px rgba(0 , 0 , 0, 0.3) ;
margin-top: 96px;
font-size: 18px;
color: white;
}

.img{
width:100%;
height:100%;

}

#boximg{
position: relative;
height: 100%;
width: 100%;
background-image: url(./images/alimentos_2.jpg);
background-size: cover;
margin-top: -96px;
padding-bottom: 95px;
}

.form input, textarea {
border-radius: 0.35rem;
}

