body {
    font-family: glacial-indifference;
}

/* .section-1{
    background-image: url(images/obinf.png);
    background-size: cover;
    background-repeat: no-repeat;
} */

.img-principal {
    width: 100%;
    height: auto;
    margin-top: -96px;
}

.section-1-bloco {
    margin: auto;
    background-color: #F95F62;
    border-radius: 20px;
    width: 850px;
    max-width: 90vw;
    /* height: 500px; */
    position: relative;
    margin-top: -100px;
    padding-bottom: 100px;
}

.section-1-texto {
    color: white;
    font-size: 20px;
    text-align: left;;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10%;
}


.section-1-titulo {
    font-size: 25px;
    color: white;
    margin-top: 10px;
}