body {
    font-family: glacial-indifference;
    background-color: white;
}
main{
    width: 100%;
}
.section-1 {
   height: 120vh;
}

.img-topo {
    width: 100%;
    height: auto;
    margin-top: -96px;
}

.bloco {
    position: absolute;
    margin-top: 200px;
    width: 380px;
    padding-left: 100px;
    border-radius: 2px;
}

.texto {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 10px;
}

.texto-2 {
    font-size: 30px;
    width: 380px;
}


/* SECTION 2 */

.section-2 {
    /* width: 900px; */
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 12%;
    margin-right: 12%;
}

.section-2-titulo {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.section-2-texto {
    font-size: 22px;
    text-align: center;
}


/* SECTION 3 */

.section-3 {
    background-color: rgb(119, 211, 83);
    padding-bottom: 70px;
}

.section-3-bloco { 
    color: white;
    margin-top: 70px;
    margin-bottom: 170px;
    margin: 0px 0px 50px 120px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.section-titulo {
    font-size: 35px;
    margin-bottom: 10px;
}

.section-subtitulo {
    font-size: 20px;
    max-width: 70vw;
  
}

.box-receita {
    background-color: white;
    margin-left: 120px;
    margin-bottom: 50px;
    width: 70%;
    font-size: 20px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: -7px 5px rgba(0, 0, 0, 0.295);
}

.titulo-receita {
    font-size: 30px;
    color: rgb(93, 177, 59);
}


/* SECTION 4 */


.section-4 {
    background-color:  rgb(255, 144, 82);
    padding-bottom: 70px;
}

.section-4-bloco { 
    color: white;
    margin-top: 70px;
    margin-bottom: 170px;
    margin: 0px 0px 50px 120px;
    padding-top: 40px;
    padding-bottom: 30px;
}


.titulo-receita-4 {
    font-size: 30px;
    color: rgb(235, 112, 41);
}


/* SECTION 5 */

.section-5 {
    background-color:  rgb(0, 166, 255);
    padding-bottom: 70px;
}

.section-5-bloco { 
    color: white;
    margin-top: 70px;
    margin-bottom: 170px;
    margin: 0px 0px 50px 120px;
    padding-top: 40px;
    padding-bottom: 30px;
}



.titulo-receita-5 {
    font-size: 30px;
    color:  rgb(2, 135, 207);
}


/* SECTION 6 */

.section-6 {
    background-color: #F95F62;
    padding-bottom: 70px;
}

.section-6-bloco { 
    color: white;
    margin-top: 70px;
    margin-bottom: 170px;
    margin: 0px 0px 50px 120px;
    padding-top: 40px;
    padding-bottom: 30px;
}


.titulo-receita-6 {
    font-size: 30px;
    color:  #e03538;
}


/* SECTION SUCOS */

.section-suco {
    padding-bottom: 70px;
    background-image: url(images/img12.jpg);
    background-size: cover;
    height: auto;
    padding-top: 10px;
}

.section-suco img {
    opacity: 0.7;
}

.section-suco-bloco { 
    color: white;
    margin-top: 50px;
    margin-bottom: 170px;
    margin: 70px 0px 50px 120px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 15px;
    width: 650px;
}

.section-suco-titulo {
    font-size: 35px;
    margin-bottom: 10px;
    color: black;
}

.section-suco-subtitulo {
    font-size: 20px;
    width: 1000px;
    color: black;
    width: 650px;
    display: inline-flex;
}

.titulo-receita-suco {
    font-size: 30px;
    color: white;
}

.box-receita-suco-verde {
    background-color:rgb(119, 211, 83);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
    width: 600px;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 70px;
}
.box-receita-suco-azul {
    background-color: rgb(0, 166, 255);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
    width: 600px;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 70px;
}
.box-receita-suco-laranja {
    background-color: rgb(255, 144, 82);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
    width: 600px;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 70px;
}
.box-receita-suco-vermelho {
    background-color: #F95F62;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
    width: 600px;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 70px;
}


.tab {
    overflow: hidden;
    background-color: white;
    height: auto;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    font-size: 22px;
  }
  
  /* Change background color of buttons on hover */
  .tablinks-red:hover {
    background-color: #F95F62;
  }

  .tablinks-green:hover {
    background-color: rgb(119, 211, 83);
  }

  .tablinks-blue:hover {
    background-color: rgb(0, 166, 255);
  }

  .tablinks-orange:hover {
    background-color: rgb(255, 144, 82);
  }
  
  /* Create an active/current tablink class */
  .tablinks-blue.active {
    background-color: rgb(0, 166, 255);
    color: white;
  }

  .tablinks-orange.active {
    background-color: rgb(255, 144, 82);
    color: white;
  }

  .tablinks-green.active {
    background-color: rgb(119, 211, 83);
    color: white;
  }

  .tablinks-red.active {
    background-color: #F95F62;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

  .tab-text {
      margin-left: 40px;
      padding: 30px;
      font-size: 22px;
  }

  .tab-btns {
    margin-left: 40px;
  }






@media screen and (max-width: 856px) {
    .section-1{
        height: 100vh;
    }
    .img-topo {
        object-fit: cover;
        width: 100%;
        height: calc(100vh - 96px);
        margin-top: 96px;
    }
    .bloco {
        height: calc(100vh - 96px);
        color: black;
        background-color: rgba(255, 255, 255, 0.76);
        margin-top: 96px;
        width: 100%;
        padding-left: 0px;
    }  
    .texto {
        text-align: center;
        padding-top: 10%;
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 10px;
    }
    
    .texto-2 {
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
        font-size: 30px;
        width: 90%;
    }
    .tab-btns {
        margin-left: 0; 
        display: inline-flex;
    }

    .tab-btns button {
        font-size: 17px;
    }
    .section-titulo{
        width: 95%;
        margin-left: 5px;
    }
    .section-3-bloco { 
        color: white;
        margin-left: 5px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 95%;
    }
    .section-4-bloco { 
        color: white;
        margin-left: 0px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 95%;
    }
    .section-5-bloco { 
        color: white;
        margin-left: 0px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 95%;
    }
    .section-6-bloco { 
        color: white;
        margin-left: 0px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 95%;
    }
    .box-receita {
        background-color: white;
        margin-left: 5px;
        margin-bottom: 50px;
        width: 97%;
        font-size: 20px;
        border-radius: 20px;
        padding: 40px;
        box-shadow: -7px 5px rgba(0, 0, 0, 0.295);
    }
    .section-suco-bloco { 
        color: white;
        margin-top: 5px;
        margin-bottom: 10px;
        margin: 70px 0px 50px 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        padding-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.685);
        border-radius: 15px;
        width: 97%;
    }

    .box-receita-suco-verde {
        background-color:rgb(119, 211, 83);
        color: white;
        font-size: 20px;
        border-radius: 20px;
        padding: 40px;
        box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
        width: 97%;
        display: block;
        margin: 10px auto 70px;
    }

    .box-receita-suco-azul {
        color: white;
        font-size: 20px;
        border-radius: 20px;
        padding: 40px;
        box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
        width: 97%;
        display: block;
        margin: 10px auto 70px;
    }
    .box-receita-suco-laranja {
        color: white;
        font-size: 20px;
        border-radius: 20px;
        padding: 40px;
        box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
        width: 97%;
        display: block;
        margin: 10px auto 70px;
    }
    .box-receita-suco-vermelho {
        color: white;
        font-size: 20px;
        border-radius: 20px;
        padding: 40px;
        box-shadow: -9px 9px 5px rgba(0, 0, 0, 0.233);
        width: 97%;
        display: block;
        margin: 10px auto 70px;
    }
    .section-suco-subtitulo {
        font-size: 20px;
        color: black;
        width: auto;
        display: inline-flex;
    }
    .section-subtitulo {
        font-size: 20px;
        max-width: 90%;
        margin-left: 5px;
        margin-right: 0;
    }
 }
